// $body-bg: #141414;
$bg-color-dark: #14012C;
$bg-color-light: #EBF0F9;
$primary-color: #B6A0F6;
$btn-color: #7E30E1;
$txt-color-dark: #fff;
$txt-color-light: #141414;

$lg-text: 36px;
$md-text: 20px;
$small-text: 16px;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$border-radius: 30px;

$font-family: "Roboto", sans-serif;